*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background:rgba(167, 167, 126, 0.4);
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 100%;
    max-width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 20px ;

}
.box h1{
    color: #555;
    font-size: 30px;
    text-transform: capitalize;

}
.box .row{
    width: 100%;
    margin:30px;
    margin-left:0;
}
.box .row label{
    font-size: 20px;
   text-transform: capitalize;
   
}





hr{
    color: #555;
}

button{

    color: #fff;
    font-size: 25px;
    width: 100%;
    height: 20px;
    background: #f00f3f;
    margin: 20px auto; 
    padding:15px 20px 40px 12px;
    border-radius: 10px;
}
button:hover{
    background-color: #555;
    color: green;
    font-weight: bold;
}